$mainColor: #FAE1DC;
$bodyColor: #D9D9DD;

*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Playfair Display', serif;
   
}

@import "header";
@import "responsive";
@import "footer";
@import "home";
@import "client";
