#hero {
  /*position: fixed;*/
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 200;
}
#hero .nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FAE1DC;
}
#hero .nav-container .logo img {
  width: 40%;
}
#hero .nav-container label, #hero .nav-container .nav-input {
  display: none;
}
#hero .nav-container #nav-bar ul {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  list-style-type: none;
}
#hero .nav-container #nav-bar ul .nav-icons {
  text-decoration: none;
  margin: 10px;
  color: black;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
#hero .nav-container #nav-bar ul .nav-icons::after {
  content: "";
  display: block;
  background: black;
  width: 80%;
  margin-top: 3px;
  height: 3px;
  -webkit-clip-path: var(--clippy);
          clip-path: var(--clippy);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
#hero .nav-container #nav-bar ul .nav-icons:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 768px) {
  #hero .nav-lavel {
    display: block;
    cursor: pointer;
  }
  #hero .nav-input:checked + #nav-bar ul {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  #hero #nav-bar ul {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #D9D9DD;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
  }
}
/*-------------------FOOTER---------------*/
@media (max-width: 768px) {
  #footer {
    background-color: #FAE1DC;
    display: flex;
    flex-direction: column;
  }
  #footer .footer-conteiner-conteiner {
    display: flex;
    flex-direction: column;
  }
  #footer .footer-conteiner-conteiner .footer-conteiner {
    align-items: center;
  }
  #footer .footer-conteiner-conteiner .footer-conteiner .footer-contact {
    margin-bottom: 10px;
    text-align: center;
  }
  #footer .footer-conteiner-conteiner .footer-conteiner .footer-contact-text {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
  }
  #footer .footer-conteiner-conteiner .footer-conteiner .footer-social {
    margin: 15px 10px;
  }
  #footer .footer-conteiner-conteiner .footer-conteiner .footer-social .footer-icon {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: auto;
    margin: 5px;
  }
  #footer .footer-conteiner-conteiner .footer-conteiner .footer-social .footer__icon--facebook:hover {
    transform: scale(1.2);
  }
  #footer .footer-conteiner-conteiner .footer-conteiner .footer-social .footer__icon--instagram:hover {
    transform: scale(1.2);
  }
  #footer .footer-image-img {
    display: none;
  }
  #footer .footer-copyright {
    display: flex;
    justify-content: center;
  }
}
#footer {
  background-color: #FAE1DC;
  display: flex;
  flex-direction: column;
}
#footer .footer-conteiner-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#footer .footer-conteiner-conteiner .footer-conteiner {
  align-items: center;
}
#footer .footer-conteiner-conteiner .footer-conteiner .footer-contact {
  margin-bottom: 10px;
  text-align: center;
}
#footer .footer-conteiner-conteiner .footer-conteiner .footer-contact-text {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}
#footer .footer-conteiner-conteiner .footer-conteiner .footer-social {
  margin: 15px 10px;
}
#footer .footer-conteiner-conteiner .footer-conteiner .footer-social .footer-icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: auto;
  margin: 5px;
}
#footer .footer-conteiner-conteiner .footer-conteiner .footer-social .footer__icon--facebook:hover {
  transform: scale(1.2);
}
#footer .footer-conteiner-conteiner .footer-conteiner .footer-social .footer__icon--instagram:hover {
  transform: scale(1.2);
}
#footer .footer-copyright {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */